aws_region           = "ap-northeast-1"
bedrock_region       = "ap-northeast-1"
daily_limit          = 15
cors_allowed_origins = ["https://profile-ai.aigyeom.com"]
domain_name          = "profile-ai.aigyeom.com"
hosted_zone_name     = "aigyeom.com"
acm_certificate_arn  = "arn:aws:acm:us-east-1:701111311029:certificate/0bf1fc2e-48aa-4f5e-a83e-6ac21addb018"
discord_webhook_url  = ""
